.postImageWrapper{
    height:450px;
    overflow: hidden;
}

.postImageWrapper img {
    width:100%;
    max-height: 100%;
    object-fit:cover;
}
.blogCategory{
    display:block;
    font-size:14px;
    padding: 10px 0;
}
.postTitle{
    letter-spacing: 0.5px;
    text-transform: capitalize;
    font-size: 30px;
    margin:0;
    font-weight: 400;
}
.postedBy{
    font-size: 15px;
    font-style: italic;
    padding:10px 0;
    display: block;
    color:#6c6c6c;
}
.postContent p {
    font-size: 14px;
    color:"#6c6c6c";
    font-weight: 300;
    letter-spacing: 1px;
    padding-bottom: 20px 0 ;
}



.button {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    padding:10px 10px;
    margin-bottom: 30px;
    cursor:pointer;
    border-radius: 5px;
  }
  .button:hover{
      color: burlywood;
  }